<div id="about">
  <h1>ABOUT US</h1>
  <h2>運営者情報</h2>
<div class="main_visual">
  <div class="main_image">
    <%= image_tag 'woman.jpg' %>
  </div>
  <div class="slogan">
    <p class="detail">私たちはすべての女性にスポットライトを当てることを目指し、<br>
      一人でも多くの女性を輝かせるために今までにないセグメントでの<br>
  イベントを企画、主催する団体です。</p>
  </div>
</div>

  <div class="founder">
    <div class="founder_left">
      <%= image_tag 'founder.png' %>
    </div>
    <div class="founder_right">
    <p class="company">Miss.Someone</p>
    <p class="myname"><span>代表</span> 小野祥吾</p>
      <div class="information">
      <p>北海道生まれ。アメリカ、シカゴ出身。<br>
      アメリカで培ったショービジネスのノウハウを活かし、<br>
      様々なジャンルのイベント立案や運営を行う。</p>
      <p>化粧品検定１級及びコスメコンシェルジュの資格を持ち、<br>
      美容のコンテンツも広く手がける。</p>
      </div>
    </div>
  </div>

  <div class="message">
  <p>当イベントのページにアクセスしていただきありがとうございます。<br>
    今後もさまざまな面白いミスコンを皆様にお届けしていきたいと思っております。</p>

  <p>応募してくださったすべての「佐藤さん」、佐藤さんの参加を後押ししてくださった皆様、<br>
  本当にありがとうございます。</p>

  </div>

</div>