
<h1 class="main_image"><%= image_tag 'main_image.jpg' %></h1>

<div class="content_middle">
<div class="Fgirls columns">
  <%= render @entries %>
  <p class="to_top"><a href=<% '/' %>><%= image_tag 'to_top.png' %></a></p>
</div>
</div>