<div id="new">
  <div class="form">
<%= form_for(@entry) do |f| %>

      <h1>
        ENTRY
      </h1>
      <p>画像をエントリーする</p>
      <div class="area">
    <label>画像</label>
      <%= f.file_field :avatar %>
      </div>
      <div class="area">
    <label>お名前</label>
        <input placeholder="お名前を入力してください" type="text" name="name">
      </div>
      <div class="area">
        <label>年齢</label>
        <input placeholder="年齢を入力してください" name="age">
      </div>
      <div class="area">
        <label>出身</label>
        <select name="hometown" f.name="hometown">
          <option value="" selected>都道府県を選択してください</option>
    <option value="北海道">北海道</option>
    <option value="青森県">青森県</option>
    <option value="岩手県">岩手県</option>
    <option value="宮城県">宮城県</option>
    <option value="秋田県">秋田県</option>
    <option value="山形県">山形県</option>
    <option value="福島県">福島県</option>
    <option value="茨城県">茨城県</option>
    <option value="栃木県">栃木県</option>
    <option value="群馬県">群馬県</option>
    <option value="埼玉県">埼玉県</option>
    <option value="千葉県">千葉県</option>
    <option value="東京都">東京都</option>
    <option value="神奈川県">神奈川県</option>
    <option value="新潟県">新潟県</option>
    <option value="富山県">富山県</option>
    <option value="石川県">石川県</option>
    <option value="福井県">福井県</option>
    <option value="山梨県">山梨県</option>
    <option value="長野県">長野県</option>
    <option value="岐阜県">岐阜県</option>
    <option value="静岡県">静岡県</option>
    <option value="愛知県">愛知県</option>
    <option value="三重県">三重県</option>
    <option value="滋賀県">滋賀県</option>
    <option value="京都府">京都府</option>
    <option value="大阪府">大阪府</option>
    <option value="兵庫県">兵庫県</option>
    <option value="奈良県">奈良県</option>
    <option value="和歌山県">和歌山県</option>
    <option value="鳥取県">鳥取県</option>
    <option value="島根県">島根県</option>
    <option value="岡山県">岡山県</option>
    <option value="広島県">広島県</option>
    <option value="山口県">山口県</option>
    <option value="徳島県">徳島県</option>
    <option value="香川県">香川県</option>
    <option value="愛媛県">愛媛県</option>
    <option value="高知県">高知県</option>
    <option value="福岡県">福岡県</option>
    <option value="佐賀県">佐賀県</option>
    <option value="長崎県">長崎県</option>
    <option value="熊本県">熊本県</option>
    <option value="大分県">大分県</option>
    <option value="宮崎県">宮崎県</option>
    <option value="鹿児島県">鹿児島県</option>
    <option value="沖縄県">沖縄県</option>
    </select>
      </div>
      <div class="area">
        <label>身長</label>
        <select name="height" id="height">
 <option value="" selected>身長を選択してください</option>
  <option value="〜140cm">〜140cm</option>
  <option value="141cm">141cm</option>
  <option value="142cm">142cm</option>
  <option value="141cm">143cm</option>
  <option value="144cm">144cm</option>
  <option value="145cm">145cm</option>
  <option value="146cm">146cm</option>
  <option value="147cm">147cm</option>
  <option value="148cm">148cm</option>
  <option value="149cm">149cm</option>
  <option value="150cm">150cm</option>
  <option value="151cm">151cm</option>
  <option value="152cm">152cm</option>
  <option value="153cm">153cm</option>
  <option value="154cm">154cm</option>
  <option value="155cm">155cm</option>
  <option value="156cm">156cm</option>
  <option value="157cm">157cm</option>
  <option value="158cm">158cm</option>
  <option value="159cm">159cm</option>
  <option value="160cm">160cm</option>
  <option value="161cm">161cm</option>
  <option value="162cm">162cm</option>
  <option value="163cm">163cm</option>
  <option value="164cm">164cm</option>
  <option value="165cm">165cm</option>
  <option value="166cm">166cm</option>
  <option value="167cm">167cm</option>
  <option value="168cm">168cm</option>
  <option value="169cm">169cm</option>
  <option value="170cm">170cm</option>
  <option value="171cm">171cm</option>
  <option value="172cm">172cm</option>
  <option value="173cm">173cm</option>
  <option value="174cm">174cm</option>
  <option value="175cm">175cm</option>
  <option value="176cm">176cm</option>
  <option value="177cm">177cm</option>
  <option value="178cm">178cm</option>
  <option value="179cm">179cm</option>
  <option value="180cm">180cm</option>
  <option value="181cm">181cm</option>
  <option value="182cm">182cm</option>
  <option value="183cm">183cm</option>
  <option value="184cm">184cm</option>
  <option value="185cm">185cm</option>
  <option value="186cm">186cm</option>
  <option value="187cm">187cm</option>
  <option value="188cm">188cm</option>
  <option value="189cm">189cm</option>
  <option value="190cm">190cm</option>
  <option value="191cm">191cm</option>
  <option value="192cm">192cm</option>
  <option value="193cm">193cm</option>
  <option value="194cm">194cm</option>
  <option value="195cm">195cm</option>
  <option value="196cm">196cm</option>
  <option value="197cm">197cm</option>
  <option value="198cm">198cm</option>
  <option value="199cm">199cm</option>
  <option value="200cm">200cm</option>
</select>
      </div>
      <div class="area">
        <label>一言アピール!</label>
   <textarea placeholder="最後に一言お願いします！" name="appeal" rows="1"></textarea>
      </div>
      <div class="area">
      <p>※ここから先の情報は公開されません</p>
        <label>電話番号</label>
   <input placeholder="半角英数でご入力ください" type="text" name="phone">
      </div>
      <div class="area">
        <label>メールアドレス</label>
  <input placeholder="半角英数でご入力ください" type="text" name="mail">
      </div>
      <div class="send">
        <input href="/entries/create" type="submit" value="ENTRY">
      </div>
     <% end %>
  </div>
</div>
