@charset "UTF-8";
/*------------　部分テンプレート --------------*/
/* line 10, /Users/ONO/projects/miss.sato/app/assets/stylesheets/entries.scss */
.entry {
  inline: block;
  float: left;
  margin-top: 20px;
  width: 278px;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 5px 5px 5px 5px/ 5px 5px 5px 5px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -column-break-inside: avoid;
}

/* line 23, /Users/ONO/projects/miss.sato/app/assets/stylesheets/entries.scss */
.entry .image {
  margin: 0 auto;
}

/* line 26, /Users/ONO/projects/miss.sato/app/assets/stylesheets/entries.scss */
h2 {
  font-size: 24px;
  color: #e76286;
  margin: 0;
}

/* line 31, /Users/ONO/projects/miss.sato/app/assets/stylesheets/entries.scss */
.evaluation {
  float: right;
  clear: both;
}

/* line 35, /Users/ONO/projects/miss.sato/app/assets/stylesheets/entries.scss */
.evaluation .button {
  float: left;
}

/* line 38, /Users/ONO/projects/miss.sato/app/assets/stylesheets/entries.scss */
.evaluation .point {
  float: right;
  border: 1px solid #999;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 2.2;
  margin-left: 5px;
  color: #62a7e7;
}

/* line 49, /Users/ONO/projects/miss.sato/app/assets/stylesheets/entries.scss */
.entry p {
  margin: 0 auto;
  color: #666666;
  font-size: 14px;
}

/* line 54, /Users/ONO/projects/miss.sato/app/assets/stylesheets/entries.scss */
.appeal {
  border: 1px solid #d1d1d1;
  padding: 5px;
  color: #666;
  font-size: 12px;
}

/*-----------------------------------*/
/* line 62, /Users/ONO/projects/miss.sato/app/assets/stylesheets/entries.scss */
.columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 20px;
  column-fill: auto;
}
/* line 8, /Users/ONO/projects/miss.sato/app/assets/stylesheets/top.scss */
fotter {
  width: 100%;
}

/* line 11, /Users/ONO/projects/miss.sato/app/assets/stylesheets/top.scss */
footer p {
  border-top: 1px solid #d7d7d7;
  font-size: 10px;
  margin-top: 50px;
  padding-top: 20px;
  text-align: center;
  color: #999;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

