<<<<<<< HEAD
@media screen and (min-width: 640px){
=======

@media all and (max-width:480px){
body{
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
html{
  width:480px;
}
.to_top{
  position: fixed;
  bottom:10px;
  right:10px;
}
h1 img{
  width:100%;
}
>>>>>>> b878200b59e358f1b377d3c31a60e60e01725fb9
body {
  background-color:#f1f1f1;
}
.nav{
  width:100%;
  height:20px;
  background-color:#dc7ead;
  margin-top:-10px;
}
.nav ul{
  width:480px;
  margin:0 auto;

}
.nav ul li{
  margin-left:-7px;
  width:100px;
  list-style:none;
  font-size:10px;
  float:left;
  text-align:center;
  line-height: 2;
}
.nav ul li a{
  color:#fff;
  text-decoration:none;
  display:block;
}
.nav ul li a:hover{
  color:#af4474;
  text-decoration:none;
}
/*---------------- 会員登録用CSS #newに注意 ------------------*/
#new .form{
  width:298px;
  margin:0 auto;
  margin-top: 20px;
  border:1px solid #d9d9d9;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  background-color: #fff;
}
#new h1{
  color:#fff;
  font-size:20px;
  margin:0;
  background-color:#dc7ead;
  width:298px;
  text-align: center;
  border-radius: 5px 5px 5px 5px/5px 5px 0 0;
}
#new label{
  color:#dc7ead;
  font-size:10px;
}
#new p{
  font-size:12px;
  color:#999;
  text-align: center;
}
#new .area{
  width:240px;
  margin:0 auto;
  margin-bottom: 10px;

}
#new .area input{
  width:240px;
  margin:0 auto;
  line-height: 3;
  padding-left:10px;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  border:1px solid #d9d9d9;
}
#new textarea{
  width:240px;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  border:1px solid #d9d9d9;
}
#new .send {
  text-align: center;
  margin-top:20px;
  margin-right:-5px;
 }
#new .send input{
   width:200px;
   background-color:#dc7ead;
   height:20px;
   margin-bottom: 20px;
   color:#fff;
   font-size: 12px;
   border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
   border:none;
   cursor:pointer;
}
#new .filefield{
  line-height: 3
}
/*---------------- エントリー後 ------------------*/
#create{
  width:350px;
  margin:0 auto;
}
#create .content{
  margin-top: 100px;
  background-color: #fff;
  border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
  border:1px solid #d9d9d9;
  text-align: center;
  font-size: 14px;
  font-weight:bold;
  color:#999;
}
#create .home_btn{
  background-color:#fff;
  width:200px;
  line-height: 3;
  margin:0 auto;
  margin-bottom: 20px;
  border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
  border:3px solid #dc7ead;

}
#create .home_btn a{
  background-color:#fff;
  text-decoration: none;
  color:#dc7ead;
  font-weight: 100;
  display: block;
}
/*------------------ RULES ----------------------*/
#rules {
  width:480px;
  margin:0 auto;
}
#rules h1{
  color:#dc7ead;
  margin-top:40px;
  margin-bottom:20px;
  text-align:center;
}
#rules ul{
  width:450px;
  margin:0 auto;
  height:30px;
}


#rules ul li{
width:150px;
  list-style: none;
  float:left;
  color:#dc7ead;
  text-align:center;
  margin-left: -7px;
}
#rules ul li a{
  color:#d1d1d1;
  text-decoration:none;
  }
#rules ul li a:hover{
  color:#dc7ead;
  text-decoration:none;
  }

#rules .regulations{
  margin:0 auto;
  width:400px;
  clear:both;
  overflow: hidden;
  margin-top:20px;
}
#rules .regulations .regulation{
  margin-top:20px;
}


#rules .regulations .number{
  font-weight:bold;
  width:40px;
  height:40px;
  background:#f1f1f1;
  border:1px solid #dc7ead;
  border-radius: 40px;    -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align:center;
  line-height:2.5;
  overflow: hidden;
  color:#dc7ead;
  margin:0 auto;
}
#rules .regulations .expalaination{
  float:left;
  width:380px;
  color:#dc7ead;
  font-weight: bold;
  margin-bottom: 40px;
}
#rules .btn{
  margin:0 auto;
  width:100px;
}
#rules .entry_btn{
  width:100px;
  height:40px;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  text-align: center;
  background-color:#dc7ead;
  margin-top:20px;
  margin-left:-5px;
}
#rules .entry_btn a{
  color:#fff;
  text-decoration:none;
  line-height:2.5;
  display: block;
}
/*------------------ rules/next ----------------------*/
#rules_next {
  margin:0 auto;
  width:480px;
}
#rules_next h1{
  color:#dc7ead;
  margin-top:40px;
  margin-bottom:20px;
  text-align:center;
}
#rules_next ul{
  width:450px;
  margin:0 auto;
  height:30px;
}
#rules_next ul li{
  width:150px;
  list-style: none;
  float:left;
  color:#dc7ead;
  text-align:center;
  margin-left: -7px;
}

#rules_next ul li a{
  color:#d1d1d1;
  text-decoration:none;
  }
#rules_next ul li a:hover{
  color:#dc7ead;
  text-decoration:none;
  }
#rules_next .content{
  width: 480px;
  margin:0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
#rules_next p{
  font-style: italic;
  text-align: center;
  margin-bottom: 100px;
  color:#999;
}
#rules_next img{
  max-width:100%;
}
/*------------------ rules/flow_cahrt ----------------------*/
#rules_flow_chart {
  margin:0 auto;
width:480px;
}
#rules_flow_chart h1{
  color:#dc7ead;
  margin-top:40px;
  margin-bottom:20px;
  text-align:center;
}
#rules_flow_chart ul{
  width:450px;
  margin:0 auto;
  height:30px;
}
#rules_flow_chart ul li{
  width:150px;
  list-style: none;
  float:left;
  color:#dc7ead;
  text-align:center;
  margin-left: -7px;
}

#rules_flow_chart ul li a{
  color:#d1d1d1;
  text-decoration:none;
  }
#rules_flow_chart ul li a:hover{
  color:#dc7ead;
  text-decoration:none;
  }
#rules_flow_chart{
  text-align:center;
}
#rules_flow_chart h2{
  font-size:24px;
  color:#666;
  margin-top:40px;
  margin-bottom:20px;
}
#rules_flow_chart p{
  color:#9d9d9d;
  font-size: 12px;
  max-width:280px;
  margin:0 auto;
}
#rules_flow_chart .cursor{
  margin-top:50px;
  margin-bottom:50px;
}
/*------------------ About us ----------------------*/
#about{
  margin:0 auto;
}
#about h1{
  color:#dc7ead;
  margin-top:40px;
  text-align:center;
}
#about h2{
  text-align: center;
  font-size: 16px;
  color:#dc7ead;
}
#about .main_visual img{
  max-width:100%;
  margin-top:60px;
}

#about .slogan {
  width:480px;
  margin: 0 auto;
  padding-bottom:60px;
  border-bottom: 2px solid #d7d7d7;

}
#about .slogan p{
  width:400px;
  font-size:12px;
}
#about .name{
  margin-top: -10px;
  color:#dc7ead;
  font-weight: bold;
  font-style: italic;
  }
#about .detail{
  clear: both;
  width:420px;
  margin:0 auto;
  margin-top:100px;
  color:#dc7ead;
  font-size:14px;
  line-height: 3;
}
#about .founder .founder_left{
  text-align: center;
  margin-top: 60px;
}
#about .founder .founder_right{
  width:340px;
  margin:0 auto;
}
#about .founder .founder_right .information{
  margin-left: 30px;
  width:320px;
  font-size: 10px;
  margin-bottom: 30px;
  }
#about .founder p{
  font-size:12px;
  color:#999;
}


#about .founder .company{
  font-size:14px;
  color:#666;
  font-style:italic;
  margin-bottom: -10px;
  padding-top: 20px;
  text-align: center;
}
#about .founder .myname{
  font-size:16px;
  color:#666;
text-align:center;
}
#about .founder .myname span{
  font-size:12px;
}
#about .message{
  clear: both;
  width:320px;
  margin:0 auto;
  font-size: 10px;
  background-color: #fff;
  padding:20px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  border:1px solid #d7d7d7;
  margin-bottom:40px;
}
#about .message p{
  color:#777;
  line-height: 1.5;
}

}










@media all and (min-width:481px){
body {
  background-color:#f1f1f1;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.nav{
  width:100%;
  height:40px;
  background-color:#dc7ead;
  margin-top:-10px;
}
.nav ul{
  margin:0 auto;
  max-width:960px;
}
.nav ul li{
  width:240px;
  margin-left:-7px;
  list-style:none;
  font-size:20px;
  float:left;
  text-align:center;
  line-height: 2;
}
.nav ul li a{
  color:#fff;
  text-decoration:none;
  display:block;
  width:auto;
}
.nav ul li a:hover{
  color:#af4474;
  text-decoration:none;
}
.to_top{
  position:fixed;
  right:2%;
  bottom:1%;
}

h1{
  max-width:960px;
  margin:0 auto;
}
.content_middle{
  width:960px;
  margin:0 auto;
}

/*#dc7ead*/
/*#d9d9d9*/

#new select{
  width:500px;
  font-size:200%;
}


/*---------------- 会員登録用CSS #newに注意 ------------------*/
#new .form{
  width:598px;
  margin:0 auto;
  margin-top: 40px;
  border:1px solid #d9d9d9;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  background-color: #fff;
  padding-bottom: 20px;
}
#new h1{
  color:#fff;
  font-size:20px;
  background-color:#dc7ead;
  width:600px;
  text-align: center;
  border-radius: 5px 5px 5px 5px/5px 5px 0 0;
  margin-left:-1px;
}
#new label{
  color:#dc7ead;
  font-size:14px;
  margin-left:5px;
}
#new p{
  font-size:12px;
  color:#999;
  text-align: center;
}
#new .area{
  width:500px;
  margin:0 auto;
  margin-bottom: 10px;

}
#new .area input{
  width:490px;
  margin:0 auto;
  line-height: 3;
  padding-left:10px;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  border:1px solid #d9d9d9;
}
#new textarea{
  width:500px;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  border:1px solid #d9d9d9;
}
#new .send {
  text-align: center;
  margin-top:20px;
  margin-right:-5px;
 }
#new .send input{
   width:500px;
   background-color:#dc7ead;
   height:30px;
   color:#fff;
   font-size: 12px;
   border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
   border:none;
   cursor:pointer;
}
#new .filefield{
  line-height: 3;
}

/*---------------- エントリー後 ------------------*/
#create{
  width:600px;
  margin:0 auto;
}
#create .content{
  margin-top: 100px;
  width:598px;
  background-color: #fff;
  border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
  border:1px solid #d9d9d9;
  text-align: center;
  font-size: 18px;
  font-weight:bold;
  color:#999;
}
#create .home_btn{
  background-color:#fff;
  width:200px;
  line-height: 3;
  margin:0 auto;
  margin-bottom: 20px;
  border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
  border:3px solid #dc7ead;

}
#create .home_btn a{
  background-color:#fff;
  text-decoration: none;
  color:#dc7ead;
  font-weight: 100;
  display: block;
}
/*------------------ RULES ----------------------*/
#rules {
  width:960px;
  margin:0 auto;
}
#rules h1{
  color:#dc7ead;
  margin-top:40px;
  margin-bottom:20px;
  text-align:center;
}
#rules ul{
  width:450px;
  margin:0 auto;
  height:30px;
}
#rules ul li{
  width:150px;
  list-style: none;
  float:left;
  color:#dc7ead;
  text-align:center;
  margin-left: -7px;
}

#rules ul li a{
  color:#d1d1d1;
  text-decoration:none;
  }
#rules ul li a:hover{
  color:#dc7ead;
  text-decoration:none;
  }

#rules .regulations{
  margin:0 auto;
  width:800px;
  clear:both;
  overflow: hidden;
  margin-top:20px;
}
#rules .regulations .regulation{
  margin-top:20px;
}


#rules .regulations .number{
  font-weight:bold;
  float:left;
  width:40px;
  height:40px;
  background:#f1f1f1;
  border:1px solid #dc7ead;
  border-radius: 40px;    -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align:center;
  line-height:2.5;
  overflow: hidden;
  color:#dc7ead;
  margin-right:10px;
}
#rules .regulations .expalaination{
  float:left;
  width:700px;
  color:#dc7ead;
  font-weight: bold;
}
#rules .btn{
  margin:0 auto;
  width:100px;
}
#rules .entry_btn{
  width:100px;
  height:40px;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  text-align: center;
  background-color:#dc7ead;
  margin-top:20px;
  margin-left:-5px;
}
#rules .entry_btn a{
  color:#fff;
  text-decoration:none;
  line-height:2.5;
  display: block;
}
/*------------------ rules/next ----------------------*/
#rules_next {
  margin:0 auto;
}
#rules_next h1{
  color:#dc7ead;
  margin-top:40px;
  margin-bottom:20px;
  text-align:center;
}
#rules_next ul{
  width:450px;
  margin:0 auto;
  height:30px;
}
#rules_next ul li{
  width:150px;
  list-style: none;
  float:left;
  color:#dc7ead;
  text-align:center;
  margin-left: -7px;
}

#rules_next ul li a{
  color:#d1d1d1;
  text-decoration:none;
  }
#rules_next ul li a:hover{
  color:#dc7ead;
  text-decoration:none;
  }
#rules_next .content{
  width: 600px;
  margin:0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
#rules_next p{
  font-style: italic;
  text-align: center;
  margin-bottom: 100px;
  color:#999;
}
/*------------------ rules/flow_cahrt ----------------------*/
#rules_flow_chart {
  margin:0 auto;
}
#rules_flow_chart h1{
  color:#dc7ead;
  margin-top:40px;
  margin-bottom:20px;
  text-align:center;
}
#rules_flow_chart ul{
  width:450px;
  margin:0 auto;
  height:30px;
}
#rules_flow_chart ul li{
  width:150px;
  list-style: none;
  float:left;
  color:#dc7ead;
  text-align:center;
  margin-left: -7px;
}

#rules_flow_chart ul li a{
  color:#d1d1d1;
  text-decoration:none;
  }
#rules_flow_chart ul li a:hover{
  color:#dc7ead;
  text-decoration:none;
  }
#rules_flow_chart{
  text-align:center;
}
#rules_flow_chart h2{
  font-size:24px;
  color:#666;
  margin-top:40px;
  margin-bottom:20px;
}
#rules_flow_chart p{
  color:#9d9d9d;
  font-size: 14px;
}
#rules_flow_chart .cursor{
  margin-top:50px;
  margin-bottom:50px;
}
/*------------------ About us ----------------------*/
#about{
  margin:0 auto;
}
#about h1{
  color:#dc7ead;
  margin-top:40px;
  text-align:center;
}
#about h2{
  text-align: center;
  font-size: 16px;
  color:#dc7ead;
}
#about .main_visual img{
  width:100%;
  margin-top:60px;
}

#about .slogan{
  width:600px;
  margin: 0 auto;
  padding-bottom: 100px;
  border-bottom: 2px solid #d7d7d7;
}

#about .name{
  float:right;
  margin-top: -10px;
  color:#dc7ead;
  font-weight: bold;
  font-style: italic;
  }
#about .detail{
  clear: both;
  width:420px;
  margin:0 auto;
  margin-top:100px;
  color:#dc7ead;
  font-size:14px;
  line-height: 3;
}
#about .founder{
  width:600px;
  margin:0 auto;
  margin-top:100px;
  height:226px;
  margin-bottom:40px;
}
#about .founder .founder_left{
  float:left;
}
#about .founder .founder_right{
  float:right;
}
#about .founder p{
  font-size:12px;
  color:#999;
}
#about .founder .company{
  font-size:14px;
  color:#666;
  font-style:italic;
  margin-bottom: -10px;
  padding-top: 20px;
}
#about .founder .myname{
  font-size:16px;
  color:#666;
}
#about .founder .myname span{
  font-size:12px;
}
#about .message{
  clear: both;
  width:558px;
  margin:0 auto;
  font-size: 12px;
  background-color: #fff;
  padding:20px;
  border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
  border:1px solid #d7d7d7;
  margin-bottom:40px;
}
#about .message p{
  margin-left:30px;
  color:#777;
  line-height: 2;
}
}
<<<<<<< HEAD
/*------------------------------------------------------*/
@media screen and (max-width:640px){
body {
  background-color:#f1f1f1;
  width:640px;
}
.nav{
  width:100%;
  height:20px;
  background-color:#dc7ead;
  margin-top:-10px;
}
.nav ul li{
  margin-left:-7px;
  width:100px;
  list-style:none;
  font-size:10px;
  float:left;
  text-align:center;
  line-height: 2;
}
.nav ul li a{
  color:#fff;
  text-decoration:none;
  display:block;
}
.nav ul li a:hover{
  color:#af4474;
  text-decoration:none;
}
.to_top{
  position:fixed;
  right:2%;
  bottom:1%;
}

h1{
  max-width:600px;
  margin:0 auto;
}
.content_middle{
  width:640px;
  margin:0 auto;
}
}
=======



>>>>>>> b878200b59e358f1b377d3c31a60e60e01725fb9
