<div id="rules">
  <h1>RULES</h1>
  <ul class="menu">
    <li>参加資格</li>
    <li><a href="/rules/flow_chart">大会の流れ</a></li>
    <li><a href="/rules/next">次回予告</a></li>
  </ul>

  <div class="regulations">
    <div calss="regulation">
      <p class="number">1</p>
      <p class="expalaination">職業、年齢は一切問いません！<br>
         主婦の方から芸能活動をされている方まですべての「佐藤さん」のご応募を受け付けています。</p>
    </div>
     <div calss="regulation">
      <p class="number">2</p>
      <p class="expalaination">旧姓が佐藤の方は参加できません。<br>現在のお名前が「佐藤」の方のみご参加ください。</p>
    </div>

    <div calss="regulation">
      <p class="number">3</p>
      <p class="expalaination">プリクラはエントリー不可です！<br>写真の画質やファイルサイズは一切問いません。</p>
    </div>

    <div calss="regulation">
      <p class="number">4</p>
      <p class="expalaination">写真は1人何枚でもエントリー可能です！<br>すべての写真の合計のポイントがあなたのポイントになります</p>
    </div>
    <div calss="regulation">
      <p class="number">5</p>
      <p class="expalaination">エントリーは本人、もしくは本人の許可を得た方のみが行ってください。<br>当団体は無許可で行われたエントリーに関するすべての責任を負いかねます。</p>
    </div>
  </div>

  <div class="btn"><p class="entry_btn"><a href="/entries/new">ENTRY</a></p></div>
</div>