<div id="rules_next">
  <h1>RULES</h1>
  <ul class="menu">
    <li><a href="/rules">参加資格</a></li>
    <li><a href="/rules/flow_chart">大会の流れ</a></li>
    <li>次回予告</a></li>
  </ul>

  <div class="content">
    <%= image_tag 'suzuki_name.jpg' %>
  </div>
  <p> coming soon...</p>
</div>